<h2>Reporter output</h2><table><tr><td>&emsp;<div class="test-title"> <strong><font size = "3" color = "#000080">Making payment using Ingenico Hosted Checkout service for registered customers[Chrome ]</font> </strong> </div>&emsp;<div><strong>Steps:</strong></div><!-- Report -->&emsp;</td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jul 13:37:40 118 - <b>1</b> - Driver::initialize::Get - com.genric.support.WebDriverFactory.get(WebDriverFactory.java:523)</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jul 13:37:40 287 - Page URL:: data:,</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Login page Launched successfully!! &emsp;<a href=".\ScreenShot\TcHostedCheckout001_1.png" target="_blank" >[ScreenShot]</a></div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jul 13:37:44 255 - Page URL:: https://sandbox.account.ingenico.com/#/login</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jul 13:37:44 326 - Page URL:: https://sandbox.account.ingenico.com/#/login</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jul 13:37:44 525 - Element is displayed:: [[RemoteWebDriver: chrome on XP (f1355d3ed52d8a31e49cd3d8faf5c4c1)] -> css selector: button[ng-click='login()']]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Step 1. Ingenico login page loaded successfully!! &emsp;<a href=".\ScreenShot\TcHostedCheckout001_2.png" target="_blank" >[ScreenShot]</a></div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jul 13:37:44 999 - Page URL:: https://sandbox.account.ingenico.com/#/login</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jul 13:37:45 106 - Element is displayed:: [[RemoteWebDriver: chrome on XP (f1355d3ed52d8a31e49cd3d8faf5c4c1)] -> css selector: input[id='loginName']]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Username entered in username field is: lakshmi.nagandla@aspiresys.com</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jul 13:37:45 478 - Element is displayed:: [[RemoteWebDriver: chrome on XP (f1355d3ed52d8a31e49cd3d8faf5c4c1)] -> css selector: input[id='loginPassword']]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Password entered in password field is: May@2018</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jul 13:37:45 750 - Element is displayed:: [[RemoteWebDriver: chrome on XP (f1355d3ed52d8a31e49cd3d8faf5c4c1)] -> css selector: button[ng-click='login()']]</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jul 13:37:45 905 - Page URL:: https://sandbox.account.ingenico.com/#/login</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Loign button is clicked:</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jul 13:37:45 964 - Page URL:: https://sandbox.account.ingenico.com/#/login</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Dashboard page Launched successfully!! &emsp;<a href=".\ScreenShot\TcHostedCheckout001_3.png" target="_blank" >[ScreenShot]</a></div></td></tr>
<tr><td><div class="test-message">&emsp;Step 2. Dashboard page displayed after login into ingenico with valid credentials!!&emsp;<a href=".\ScreenShot\TcHostedCheckout001_4.png" target="_blank" >[ScreenShot]</a></div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jul 13:37:46 900 - Element is displayed:: [[RemoteWebDriver: chrome on XP (f1355d3ed52d8a31e49cd3d8faf5c4c1)] -> css selector: a[href*='apikey']]</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;MyAPIKey link is clicked:</div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jul 13:37:47 145 - Page URL:: https://sandbox.account.ingenico.com/#/account/apikey</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;API Keys page Launched successfully!! &emsp;<a href=".\ScreenShot\TcHostedCheckout001_5.png" target="_blank" >[ScreenShot]</a></div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jul 13:37:47 616 - Page URL:: https://sandbox.account.ingenico.com/#/account/apikey</small> </font> </div></td></tr>
<tr><td><div class="test-event"> <font color="maroon"> <small> &emsp; &emsp;--- 30 Jul 13:37:47 718 - Page URL:: https://sandbox.account.ingenico.com/#/account/apikey</small> </font> </div></td></tr>
<tr><td><div class="test-message">&emsp;Step 3. Able to view APIKey: 104c4a7dc55f4cca SeceretKey: LcvgwvmFNt01UNvFsgQG3S94rUd5fgKnSVpL1732UBQ= successfully!! &emsp;<a href=".\ScreenShot\TcHostedCheckout001_6.png" target="_blank" >[ScreenShot]</a></div></td></tr>
<tr><td><div class="test-message">&emsp;The Created Authentication Signature  :GCS v1HMAC:104c4a7dc55f4cca:SlKeGvsaRNK54vWEnoFeizXfQrgArZlpTHsLBAzxnVs=</div></td></tr>
<tr><td>&emsp;<div class="test-title"> <strong><font size = "3" color = "#000080"></font> </strong> </div>&emsp;<div><strong>Steps:</strong></div>&emsp;</td></tr>
<tr><td><div class="test-message">&emsp;Request URI is =>  https://api-sandbox.globalcollect.com/v1/2270/hostedcheckouts</div></td></tr>
<tr><td><div class="test-message">&emsp;Request URI is =>  https://api-sandbox.globalcollect.com/v1/2270/hostedcheckouts</div></td></tr>
<tr><td><div class="test-message">&emsp;Request Headers Are:</div></td></tr>
<tr><td><div class="test-message">&emsp;Request Headers Are:</div></td></tr>
<tr><td><div class="test-message">&emsp;Authorization:GCS v1HMAC:104c4a7dc55f4cca:SlKeGvsaRNK54vWEnoFeizXfQrgArZlpTHsLBAzxnVs=</div></td></tr>
<tr><td><div class="test-message">&emsp;Authorization:GCS v1HMAC:104c4a7dc55f4cca:SlKeGvsaRNK54vWEnoFeizXfQrgArZlpTHsLBAzxnVs=</div></td></tr>
<tr><td><div class="test-message">&emsp;X-GCS-RequestId:1cc6daff-a305-4d7b-94b0-c580fd5ba6b4</div></td></tr>
<tr><td><div class="test-message">&emsp;X-GCS-RequestId:1cc6daff-a305-4d7b-94b0-c580fd5ba6b4</div></td></tr>
<tr><td><div class="test-message">&emsp;Content-Type:application/json; charset=utf-8</div></td></tr>
<tr><td><div class="test-message">&emsp;Content-Type:application/json; charset=utf-8</div></td></tr>
<tr><td><div class="test-message">&emsp;X-GCS-MessageId:6480071e-039d-4dca-a966-4ce3c1bc201b</div></td></tr>
<tr><td><div class="test-message">&emsp;X-GCS-MessageId:6480071e-039d-4dca-a966-4ce3c1bc201b</div></td></tr>
<tr><td><div class="test-message">&emsp;Date:Mon, 30 Jul 2018 08:07:36 GMT</div></td></tr>
<tr><td><div class="test-message">&emsp;Date:Mon, 30 Jul 2018 08:07:36 GMT</div></td></tr>
<tr><td><div class="test-message">&emsp;Request Body is =>  {
  "order" : {
    "customer" : {
      "merchantCustomerId" : 2281,
      "billingAddress" : {
        "countryCode" : "NL"
      }
    },
    "amountOfMoney" : {
      "currencyCode" : "EUR",
      "amount" : 100
    }
  },
  "hostedCheckoutSpecificInput" : {
    "variant" : "testVariant",
    "locale" : "en_GB"
  }
}</div></td></tr>
<tr><td><div class="test-message">&emsp;Request Body is =>  {
  "order" : {
    "customer" : {
      "merchantCustomerId" : 2281,
      "billingAddress" : {
        "countryCode" : "NL"
      }
    },
    "amountOfMoney" : {
      "currencyCode" : "EUR",
      "amount" : 100
    }
  },
  "hostedCheckoutSpecificInput" : {
    "variant" : "testVariant",
    "locale" : "en_GB"
  }
}</div></td></tr>
<tr><td><div class="test-result"><br><font color="red"><strong> Connection refused: connect </strong></font> <a href=".\ScreenShot\TcHostedCheckout001_7.png" target="_blank" >[ScreenShot]</a></div>&emsp;</td></tr>
</table>